/* color config */
.dark-green {
	color: #003431;
}

.dark-grey {
	color: #3D3D3D;
}

.grey {
	color: #888888;
}

.light-grey {
	color: #D1D1D1;
}

.white-smoke {
	color: #EFEFEF;
}

.ghost-white {
	color: #F9FCFC;
}

.light-green {
	color: #2CE8CB;
}

.green {
	color: #048173;
}

.green-gradient {
	background-image: linear-gradient(to top right, #02cAAE, #0D544E);
}

.dark-green-gradient {
	background-image: linear-gradient(to top right, #00A38F, #0D544E);
}

.blue-green-gradient {
	background-image: linear-gradient(to top right, #00BCF0, #A1DC00);
}

.dark-blue-green-gradient {
	background-image: linear-gradient(to top right, #009CD4, #7FB500);
}